body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background: #000;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* background-image: *Set via JS-inserted rule* */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 0.3; }
}

body.background-is-loaded::before {
  animation: fade-in 1s;
  opacity: 0.3;
}

::selection{
  background: rgba(255, 255, 255, 0.5);
}

.value {
  display: none;
  width: 80%;
  max-width: 800px;
  margin: 100px auto 0;
  padding-bottom: 30px;
  color: #fff;
}

.value h2 {
  margin: 30px 0;
  padding: 20px 0;
  font-size: 1em;
  text-align: center;
  font-weight: 900;
}

.value:nth-child(1) h2 {
  font-size: 51px;
}

.value:nth-child(2) h2 {
  font-size: 68px;
}

.value:nth-child(3) h2 {
  font-size: 48px;
}

.value:nth-child(4) h2 {
  font-size: 90px;
}

.value:nth-child(5) h2 {
  font-size: 58px;
}

.value:nth-child(6) h2 {
  font-size: 61px;
}

.value:nth-child(7) h2 {
  font-size: 79px;
}

.value:nth-child(8) h2 {
  font-size: 68px;
}

.value:nth-child(9) h2 {
  font-size: 106px;
}

.value:nth-child(10) h2 {
  font-size: 92px;
}

.value.is-visible {
  display: block;
}

.value ul {
  font-size: 21px;
  font-weight: 700;
  line-height: 1em;
  opacity: 0.8;
}

.value ul li {
  margin: 1em 0;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}
