body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background: #000;
}

::selection{
  background: rgba(255, 255, 255, 0.5);
}

.value {
  display: none;
  width: 80%;
  max-width: 800px;
  margin: 100px auto 0;
  padding-bottom: 30px;
  color: #fff;
}

.value h2 {
  margin: 30px 0;
  padding: 20px 0;
  font-size: 1em;
  text-align: center;
  font-weight: 900;
}

.value:nth-child(1) h2 {
  font-size: 70px;
}

.value:nth-child(2) h2 {
  font-size: 84px;
}

.value:nth-child(3) h2 {
  font-size: 88px;
}

.value:nth-child(4) h2 {
  font-size: 88px;
}

.value:nth-child(5) h2 {
  font-size: 78px;
}

.value:nth-child(6) h2 {
  font-size: 74px;
}

.value:nth-child(7) h2 {
  font-size: 79px;
}

.value:nth-child(8) h2 {
  font-size: 68px;
}

.value:nth-child(9) h2 {
  font-size: 106px;
}

.value:nth-child(10) h2 {
  font-size: 92px;
}

.value.is-visible {
  display: block;
}

.value ul {
  font-size: 21px;
  font-weight: 700;
  line-height: 1em;
  opacity: 0.8;
}

.value ul li {
  position: relative;
  margin: 1em 0;
  list-style: none;
}

.value ul li::before {
  content: "•";
  position: absolute;
  left: -20px;
  font-size: 14px;
  opacity: 0.9;
}

body.mode-pictures::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* background-image: *set via js-inserted rule* */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 0.3; }
}

@keyframes fade-in-cattime {
  from { opacity: 0; }
  to   { opacity: 0.8; }
}

body.mode-pictures.background-is-loaded::before {
  animation: fade-in 1s;
  opacity: 0.3;
}

body.mode-pictures.background-is-loaded.is-cattime::before {
  animation: fade-in-cattime 1s;
  opacity: 0.8;
}

.mode-pictures img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}

/* Colors Mode */

body.mode-colors.color-1 {
  background-color: rgba(35, 130, 212, 0.15);
}

.mode-colors .value:nth-child(1) {
  color: #2382d4;
}

body.mode-colors.color-2 {
  background-color: rgba(253, 223, 82, 0.15);
}

.mode-colors .value:nth-child(2) {
  color: #fddf52;
}

body.mode-colors.color-3 {
  background-color: rgba(51, 212, 172, 0.15);
}

.mode-colors .value:nth-child(3) {
  color: #33d4ac;
}

body.mode-colors.color-4 {
  background-color: rgba(252, 105, 74, 0.15);
}

.mode-colors .value:nth-child(4) {
  color: #fc694a;
}

body.mode-colors.color-5 {
  background-color: rgba(35, 130, 212, 0.15);
}

.mode-colors .value:nth-child(5) {
  color: #2382d4;
}

body.mode-colors.color-6 {
  background-color: rgba(51, 212, 172, 0.15);
}

.mode-colors .value:nth-child(6) {
  color: #33d4ac;
}

.mode-colors .value h2 {
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2),
                1px 1px 0 rgba(0, 0, 0, 0.2);
}

.mode-colors .value ul {
  font-weight: 400;
  opacity: 1;
}

/* Mode selector */

#mode-selector {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.1;
}

#mode-selector:hover {
  opacity: 1;
}

.is-cattime #mode-selector {
  display: none;
}

#mode-selector button {
  display: none;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mode-pictures #mode-selector .select-colors-mode {
  display: block;
  background-image: url(../graphics/icons/icon-color-wheel.svg);
}

.mode-colors #mode-selector .select-pictures-mode {
  display: block;
  background-color: red;
  -webkit-mask-image: url(../graphics/icons/icon-picture.svg);
}

.mode-colors.color-1 #mode-selector .select-pictures-mode {
  background-color: #f8c211;
}

.mode-colors.color-2 #mode-selector .select-pictures-mode {
  background-color: #51c0d1;
}

.mode-colors.color-3 #mode-selector .select-pictures-mode {
  background-color: #85c13b;
}

.mode-colors.color-4 #mode-selector .select-pictures-mode {
  background-color: #f2961f;
}

.mode-colors.color-5 #mode-selector .select-pictures-mode {
  background-color: #932880;
}

.mode-colors.color-6 #mode-selector .select-pictures-mode {
  background-color: #02a5ac;
}

.mode-colors.color-7 #mode-selector .select-pictures-mode {
  background-color: #d8182b;
}

.mode-colors.color-8 #mode-selector .select-pictures-mode {
  background-color: #f9c517;
}

.mode-colors.color-9 #mode-selector .select-pictures-mode {
  background-color: #4cbad1;
}

.mode-colors.color-1 #mode-selector .select-pictures-mode) {
  background-color: #e65426;
}
