body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background: #000;
}

::selection{
  background: rgba(255, 255, 255, 0.5);
}

.value {
  display: none;
  width: 80%;
  max-width: 800px;
  margin: 100px auto 0;
  padding-bottom: 30px;
  color: #fff;
}

.value h2 {
  margin: 30px 0;
  padding: 20px 0;
  font-size: 1em;
  text-align: center;
  font-weight: 900;
}

.value:nth-child(1) h2 {
  font-size: 51px;
}

.value:nth-child(2) h2 {
  font-size: 68px;
}

.value:nth-child(3) h2 {
  font-size: 48px;
}

.value:nth-child(4) h2 {
  font-size: 90px;
}

.value:nth-child(5) h2 {
  font-size: 58px;
}

.value:nth-child(6) h2 {
  font-size: 61px;
}

.value:nth-child(7) h2 {
  font-size: 79px;
}

.value:nth-child(8) h2 {
  font-size: 68px;
}

.value:nth-child(9) h2 {
  font-size: 106px;
}

.value:nth-child(10) h2 {
  font-size: 92px;
}

.value.is-visible {
  display: block;
}

.value ul {
  font-size: 21px;
  font-weight: 700;
  line-height: 1em;
  opacity: 0.8;
}

.value ul li {
  margin: 1em 0;
}

body.mode-pictures::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* background-image: *set via js-inserted rule* */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 0.3; }
}

body.mode-pictures.background-is-loaded::before {
  animation: fade-in 1s;
  opacity: 0.3;
}

.mode-pictures img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}

/* Colors Mode */

body.mode-colors.color-1 {
  background-color: rgba(248, 194, 17, 0.15);
}

.mode-colors .value:nth-child(1) {
  color: #f8c211;
}

body.mode-colors.color-2 {
  background-color: rgba(81, 192, 209, 0.15);
}

.mode-colors .value:nth-child(2) {
  color: #51c0d1;
}

body.mode-colors.color-3 {
  background-color: rgba(133, 193, 59, 0.15);
}

.mode-colors .value:nth-child(3) {
  color: #85c13b;
}

body.mode-colors.color-4 {
  background-color: rgba(242, 150, 31, 0.15);
}

.mode-colors .value:nth-child(4) {
  color: #f2961f;
}

body.mode-colors.color-5 {
  background-color: rgba(147, 40, 128, 0.15);
}

.mode-colors .value:nth-child(5) {
  color: #932880;
}

body.mode-colors.color-6 {
  background-color: rgba(2, 165, 172, 0.15);
}

.mode-colors .value:nth-child(6) {
  color: #02a5ac;
}

body.mode-colors.color-7 {
  background-color: rgba(216, 24, 43, 0.15);
}

.mode-colors .value:nth-child(7) {
  color: #d8182b;
}

body.mode-colors.color-8 {
  background-color: rgba(249, 197, 23, 0.15);
}

.mode-colors .value:nth-child(8) {
  color: #f9c517;
}

body.mode-colors.color-9 {
  background-color: rgba(76, 186, 209, 0.15);
}

.mode-colors .value:nth-child(9) {
  color: #4cbad1;
}

body.mode-colors.color-10 {
  background-color: rgba(230, 84, 38, 0.15);
}

.mode-colors .value:nth-child(10) {
  color: #e65426;
}

.mode-colors .value h2 {
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2),
                1px 1px 0 rgba(0, 0, 0, 0.2);
}

.mode-colors .value ul {
  font-weight: 400;
  opacity: 1;
}
